body
	b Hi #{data.user.fname},
	p You recently requested to reset your password for your ToDo App account.
	p Your new password is #{data.randomPass}
	p Please change your password after logged in

	p Thanks,
	p ToDo App Team
	a(href="http://127.0.0.1:3000/login") ToDo App