body
	b Hi #{data.fname},
	p Thank you for registration.
	p Confirm your account, Your account activation is required to get access your account.. u can activate your account by click the link given below 

	a(href="#{data.activationLink}") Activate your account

	p Thanks,
	p ToDo App Team
	a(href="http://127.0.0.1:3000/login") ToDo App