Doctype
html(lang="en")
  head
    title ToDo App
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet")
    script(src="//code.jquery.com/jquery-1.11.1.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
    script(src="jquery.cookie/jquery.cookie.js")
    link(rel="stylesheet" href="css/dashboard.css")
    script(src="js/todoChecked.js")
    script(src="js/dashboard.js")
  body
    include header.jade
    .container
      .row
        .col-md-3
        .col-md-6
          .jumbotron 
            if data.userStatus
              div(class="alert alert-#{data.userStatus} alert-dismissible" role="alert")
                button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                  span(aria-hidden="true") &times;
                strong(style="font-size:15px") #{data.userMessage}
            form(method="POST" action="/changePasswordAction")
              .form-group
                span(for="currentPassword") Current Password
                input(type="password" class="form-control" name="currentPassword" id="currentPassword" value="" placeholder="Current password")
              .form-group
                span(for="newPassword") New Password
                input(type="password" class="form-control" name="newPassword" pattern=".{6,}" title="Must contain at least 8 or more characters" id="newPassword" value="" placeholder="New password")
              .form-group
                span(for="confirmPassword") Confirm New Password
                input(type="password" class="form-control" name="confirmPassword" id="confirmPassword" value="" placeholder="Confirm new password")
              center
                button(type="submit" class="btn btn-success") Change Password