doctype
html(lang="en")
  head
    title ToDo App
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet")
    script(src="//code.jquery.com/jquery-1.11.1.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
    script(src="jquery.cookie/jquery.cookie.js")
    link(rel="stylesheet" href="css/dashboard.css")
    script(src="js/todoChecked.js")
    script(src="js/dashboard.js")
  body
    include header.jade
    .container
      .row
        .col-md-6
          if data.status
            div(class="alert alert-#{data.status} alert-dismissible" role="alert")
              button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                span(aria-hidden="true") &times;
              strong #{data.message}
          .jumbotron
            h3 Make your ToDo List 
            .row
                form(method="POST" action="/createTask")
                  div(class="input-group col-md-12")
                    input(type="text" name="task" class="form-control" placeholder="Enter your task..." required autofocus)
                    span(class="input-group-btn")
                    button(class="btn btn-success" type="submit") Enter
        .col-md-6
          div(class="panel panel-primary")
            .panel-heading
              span(class="glyphicon glyphicon-list")
              span(style="margin-left:10px") ToDo List (#{data.tasks.length})
            .panel-body 
              -for(var task in data.tasks){
                ul.list-group
                li.list-group-item
                  .checkbox
                    -if (data.tasks[task].status)
                      input(type="checkbox" id="#{task}" checked value="#{data.tasks[task]._id}" name="todoCheck")
                    -else
                      input(type="checkbox" id="#{task}" value="#{data.tasks[task]._id}" name="todoCheck")
                    label(for="#{task}" id="#{data.tasks[task]._id}") #{data.tasks[task].content}
                  div(class="pull-right action-buttons" )
                    button(type="button" class="btn btn-primary btn-xs" value="#{data.tasks[task]._id}" data-toggle="modal" name="editTask" data-target="#editModel")
                      span(class="glyphicon glyphicon-pencil")
                    button(type="button"  class="btn btn-danger btn-xs" data-toggle="modal" name="deleteTask" data-target="#deleteModel" value="#{data.tasks[task]._id}")
                      span(class="glyphicon glyphicon-minus")
              -}
        div(class="modal fade" id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel")
          .modal-dialog
            .modal-content
              .modal-header
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times; 
                h4(class="modal-title alert" id="gridSystemModalLabel") Warning
              .modal-body
                .row 
                  .col-md-2
                  col-md-8 Are you sure you want to delete this task?
              .modal-footer
                button(type="button" class="btn btn-primary" data-dismiss="modal") Close
                a(href="#" id="deleteTaskLink" class="btn btn-danger") Delete
        div(class="modal fade" id="editModel" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel")
          .modal-dialog
            .modal-content
              form(method="POST" action="/editTask")
                .modal-header
                  button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times; 
                  h4(class="modal-title" id="gridSystemModalLabel") Edit Task
                .modal-body
                  .row 
                    .col-md-2
                    col-md-8 
                      div(class="input-group col-md-12")
                        input(type="text" name="taskContent"  class="form-control" value="" required)
                        input(type="hidden" name="taskId" value="" required)
                        span(class="input-group-btn")
                .modal-footer
                  button(type="button" class="btn btn-primary" data-dismiss="modal") Cancel
                  button(type="submit"  class="btn btn-success") Save