Doctype
html(lang="en")
  head
    title ToDo App
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet")
    script(src="//code.jquery.com/jquery-1.11.1.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
    script(src="jquery.cookie/jquery.cookie.js")
    link(rel="stylesheet" href="css/dashboard.css")
    script(src="js/todoChecked.js")
    script(src="js/dashboard.js")
  body
    div(class="container" style="margin-top:250px")
      .row
        .col-md-3
        .col-md-6
          .jumbotron 
            if data.userStatus
              div(class="alert alert-#{data.userStatus} alert-dismissible" role="alert")
                button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                  span(aria-hidden="true") &times;
                span(style="font-size:15px") #{data.userMessage}
            form(method="POST" action="/forgotPasswordAction")
              .form-group
                a(href="/login" class="btn btn-primary pull-right btn-xs") Back to login
                span(for="email") Email Id
                input(type="email" class="form-control" name="email" id="email" value="" placeholder="Enter your email Id" required )
              center
                button(type="submit" class="btn btn-success") Reset Password