nav(class="navbar navbar-default")
  .container
    .navbar-header
      a(class="navbar-brand") ToDo App
    div(id="navbar" class="navbar-collapse collapse")
      ul(class="nav navbar-nav")
        li
          a(href="/dashboard") Home
        li
          a(href="/profile") Profile
      ul(class="nav navbar-nav navbar-right")
        li
          a(style="margin-top:10px") Hi #{data.fname}
        li
          a(href="/logout")
            span(class="btn btn-danger") Logout