title ToDo App
link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.min.css')
script(type="text/javascript", href='jquery/dist/jquery.min.js')
script(type="text/javascript", href='bootstrap/dist/js/bootstrap.min.js')