doctype
html(lang="en")
  head
    include head.jade
    link(rel='stylesheet', href='css/login.css')
  body(class="text-center")
    form(method="POST" class="form-signin" action="/userLogin")
      h1(class="h3 mb-3 font-weight-normal") Sign In
      if message
        div(class="alert alert-#{status} alert-dismissible fade show" id="warning" role="alert" style="display: block")
          strong(id="warningMsg") #{message}
      label(for="email" class="sr-only") Email address
      input(type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus)
      label(for="password"  class="sr-only") Password
      input(type="password" id="password" name="password" class="form-control" placeholder="Password" required)
      button(class="btn btn-lg btn-primary btn-block" style="margin-top: 10px" type="submit") Sign in
      a(href="/register") Create an account...
      br
      a(href="/forgotPassword") Forget Password?
    script(type="text/javascript", href='js/login.js')