doctype
html(lang="en")
  head
    title ToDo App
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet")
    script(src="//code.jquery.com/jquery-1.11.1.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
  body
    include header.jade
    .container
      div(class="jumbotron")
        h2 User Profile
        .row
          .col-md-3
            //img(src="#" class="rounded float-right" height=200 width=150)
          .col-md-6
            if data.userStatus
              div(class="alert alert-#{data.userStatus} alert-dismissible" role="alert")
                button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                  span(aria-hidden="true") &times;
                strong(style="font-size:15px") #{data.userMessage}
            form(method="POST" action="/updateProfile")
              .form-group
                label(for="fname") First Name
                input(type="text" class="form-control" name="fname" id="fname" value="#{data.fname}" placeholder="First Name")
              .form-group
                label(for="lname") Last Name
                input(type="text" class="form-control" name="lname" id="lname" value="#{data.lname}" placeholder="Last Name")
              .form-group
                label(for="email") Email Id
                input(type="text" class="form-control" name="email" id="email" value="#{data.email}" placeholder="Email Id" disabled)
              button(type="submit" class="btn btn-success btn-block") Save Changes
              center
                a(href="/changePassword") Change password.....?

