doctype
html(lang="en")
  head
    include head.jade
    link(rel='stylesheet', href='css/login.css')
  body(class="text-center")
    form(method="POST" class="form-signin" action="/userRegister" onsubmit="return checkPassword();")
      h1(class="h3 mb-3 font-weight-normal") Sign Up
      if message
        div(class="alert alert-warning alert-dismissible fade show" id="warning" role="alert" style="display: block")
          strong(id="warningMsg") #{message}
      label(for="fname" class="sr-only") First Name
      input(type="text" id="fname" name="fname" class="form-control" placeholder="First Name" required autofocus)
      label(for="password"  class="sr-only") Last Name
      input(type="text" id="lname" name="lname" class="form-control" placeholder="Last Name" required)
      label(for="email" class="sr-only") Email address
      input(type="email" id="email" name="email" class="form-control" placeholder="Email address" required)
      label(for="password"  class="sr-only") Password
      input(type="password" id="password" name="password" class="form-control" pattern=".{6,}" title="Must contain at least 8 or more characters" placeholder="Password" required)
      label(for="confirmPassword"  class="sr-only") Confirm Password
      input(type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" required)
      button(class="btn btn-lg btn-primary btn-block" style="margin-top: 10px" type="submit") Sign in
      a(href="/login") Already have an account..?
    script(type="text/javascript", href='js/register.js')